@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.kolaText{
   
    position: relative;
    top: 500px;
    left: 1000px;
    font-weight: bold;
    font-size: x-large;
}